@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); 

body{

  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 5rem;

}

.navbar{
    font-family: "Oswald", sans-serif;
    font-size: 3rem;

}

.headerTop {
    background-image: url(../medias/header/header.png);
    background-size: cover;
    height: 650px;
    
  }
  
  
  .titleHeader{
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 5rem;
  }
/* 
  LA SECTION DES CARTES  */
  .sectionCards1 {
    height: 1100px;
  }
  @media only screen and (max-width: 768px) {
    .sectionCards1 {
      height: 1600px;
    }
  }
  

  @media only screen and (max-width: 576px) {
    .sectionCards1 {
      height: 2500px; 
    }
  }


  /* HOVER DES CARDS */
  .card{
    font-family: "Oswald", sans-serif;
    transition: 1s; 
  }

  .card:hover{
    transform: scale(1.05);
    transition: 1s;
  }

footer {
  background-image: url(../medias/footer.png);
  background-size:cover;
  background-position: 30%;
  height: 750px;
  font-family: "Oswald", sans-serif;
}
/* @media only screen and (max-width: 768px) {
  footer {
    height: 500px; 
  }
}


@media only screen and (max-width: 576px) {
  footer {
    height: 300px; 
    background-position: center; 
  }
} */