@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); 
.navbar{
    font-family: "Oswald", sans-serif;
    

}
.font {
    font-family: "Oswald", sans-serif;
}

.headerTop {
    background-position: center;
    background-size: cover;
    height: 350px;
    
  }
  
  
  .titleHeader{
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 5rem;
  }

  .detailSpan{
    font-size: 15px; 
    
  }
  .cardPrice {
    background: rgb(255,255,255) !important;
    background: linear-gradient(0deg, rgba(255,255,255,1) 14%, rgb(226, 225, 225) 100%) !important;
    border-radius: 2% !important;
    border: none !important;
  }




  /* HOVER DES CARDS */

footer {
  background-image: url(../medias/footer.png);
  background-size:cover;
  background-position: 30%;
  height: 750px;
  font-family: "Oswald", sans-serif;
}
.checked {
  color: orange;
}
@media (max-width: 989px) {
  #navbarNav , .navbar-toggler {
    display: none !important;
  }
  .headerTop{
    height: 210px;
  }
  .titleHeader{
    color: #0f7e97 !important;
    align-items: center !important;
  }
  #googlemap {
    margin-right: 300px !important;
    margin-left: 300px !important;
  }
  #cardPrice{
    
    width: calc(100% - 20px) !important;
  
  }
  #createReview{
    width: 300px;
    margin-left: -100px;
  }
  footer {
    height: 200px;
  }
  #logoImage {
    height:  120px !important;
  }
  #map {
    height: 200px !important;
    width: 350px;
    margin-left: -320px;
  }

 
  
}